* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.wrap {
    z-index: -2;
    background-image: linear-gradient(to top, #0175c2 0%, #1abc9c 100%);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
}

/*---------------------------------------------*/
.text-center {
    text-align: center !important;
    padding-top: 5rem;
}

a {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.7;
    color: #2d3436;
    margin: 0px;
    transition: all 0.4s;
    text-decoration: none;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: underline;
    color: #0175c2;
    color: linear-gradient(left, #0175c2, #1abc9c);
}

/*---------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

ul,
li {
    margin: 0px;
    list-style-type: none;
}


/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    border: none;
}

textarea:focus,
input:focus {
    border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}

textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

textarea:focus:-moz-placeholder {
    color: transparent;
}

textarea:focus::-moz-placeholder {
    color: transparent;
}

textarea:focus:-ms-input-placeholder {
    color: transparent;
}

input::-webkit-input-placeholder {
    color: #1327419a;
}

input:-moz-placeholder {
    color: #1327419a;
}

input::-moz-placeholder {
    color: #1327419a;
}

input:-ms-input-placeholder {
    color: #1327419a;
}

textarea::-webkit-input-placeholder {
    color: #1327419a;
}

textarea:-moz-placeholder {
    color: #1327419a;
}

textarea::-moz-placeholder {
    color: #1327419a;
}

textarea:-ms-input-placeholder {
    color: #1327419a;
}

/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
    font-size: 12px;
    color: #132741b0;
}

.txt2 {
    font-weight: 700;
    font-size: 14px;
    color: #0077ff;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-image: linear-gradient(to left top, #019aff, #1fdeb8);
}

.wrap-login100 {
    width: 390px;
    background: linear-gradient(to right bottom, rgba(255,255,255, 0.1), rgba(255,255,255,0.4));
    border-radius: 10px;
    overflow: hidden;
    padding: 77px 55px 33px 55px;
    backdrop-filter: blur(1rem);
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}


/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
    width: 100%;
}

.login100-form-title {
    padding-bottom: 50px;
    font-weight: 900;
    display: block;
    font-size: 30px;
    color: #1327419a;
    line-height: 1.2;
    text-align: center;
}

.login100-form-title i {
    font-size: 60px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #132741b0;
    margin-bottom: 37px;
}
.wrap-input50 {
    width: 20%;
    position: absolute;
    border-bottom: 2px solid #132741b0;
}
.nm{
    left: 35%;
}
.sr{
    left: 65%;
}
.cpf{
    left: 35%;
    top: 23%;
}
.dt{
    left: 65%;
    top: 23%;
}
.ru{
    left: 35%;
    top: 33%;
}
.br{
    left: 65%;
    top: 33%;
}
.nu{
    left: 35%;
    top: 43%;
}
.cm{
    left: 65%;
    top: 43%;
}
.ct{
    left: 35%;
    top: 53%;
}
.es{
    left: 65%;
    top: 53%;
}
.gv{
    left: 35%;
    top: 63%;
}
.ac{
    left: 65%;
    top: 63%;
}
.dti{
    left: 35%;
    top: 73%;
}

.input100 {
    font-size: 15px;
    color: #2d3436;
    line-height: 1.2;

    display: block;
    width: 100%;
    height: 45px;
    background: transparent;
    padding: 0 5px;
}
.input50 {
    font-size: 15px;
    color: #2d3436;
    line-height: 1.2;
    width: 20%;
    height: 3rem;
    background: transparent;
    padding: 0 5px;
}

/*---------------------------------------------*/
.focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}
.focus-input50 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}
.focus-input50::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.4s;
    background: #0175c2;
    background: linear-gradient(left, #0199ff, #1fdeb8be);
}
.focus-input50::after {
    font-size: 15px;
    color: #132741b0;;
    line-height: 1.2;
    content: attr(data-placeholder);
    width: 100%;
    position: absolute;
    top: 16px;
    left: 0px;
    padding-left: 5px;
    transition: all 0.4s;
}
.focus-input100::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.4s;

    background: #0175c2;
    background: linear-gradient(left, #0199ff, #1fdeb8be);
}

.focus-input100::after {
    font-size: 15px;
    color: #132741b0;;
    line-height: 1.2;

    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 16px;
    left: 0px;
    padding-left: 5px;
    transition: all 0.4s;
}

.input100:focus+.focus-input100::after {
    top: -15px;
}

.input100:focus+.focus-input100::before {
    width: 100%;
}

.has-val.input100+.focus-input100::after {
    top: -15px;
}

.has-val.input100+.focus-input100::before {
    width: 100%;
}



.input50:focus+.focus-input50::after {
    top: -5px;
}

.input50:focus+.focus-input50::before {
    width: 100%;
}

.has-val.input50+.focus-input50::after {
    top: -5px;
}

.has-val.input50+.focus-input50::before {
    width: 100%;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 13px;
}

.wrap-login100-form-btn {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.1);
}

.login100-form-bgbtn {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: linear-gradient(right, #0478c5c0, #1fdeb8a9);
    top: 0;
    left: -100%;
    transition: all 0.4s;
    
}

.login100-form-btn {
    font-size: 15px;
    color: #ecf0f1;
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
}

.wrap-login100-form-btn:hover .login100-form-bgbtn {
    left: 0;
}


/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
    .wrap-login100 {
        padding: 77px 15px 33px 15px;
    }
}

.wave {
    position: absolute;
    width: 100%;
    height: 90%;
    bottom: 0;
    overflow: hidden;

    img {
        backdrop-filter: blur(1rem);
    }

    z-index: 2;


}

header {
    z-index: 4;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 20px 50px;

    .menu {
        float: right;
        margin-bottom: 10px;
    }

    .icon {
        float: left;
        width: 8vh;
    }

    .logo {
        padding: 0.5vh 2vh;
        font-size: 28px;
        font-weight: 700;
        color: #ecf0f1;
        float: left;
        text-shadow: 2px 2px 4px rgba($color: #000000, $alpha: 0.3);
    }

    ul li {
        display: inline-block;
    }

    ul li button {
        margin-top: 5px;
        padding: 5px 30px;
        text-decoration: none;
        font-size: 18px;
        font-weight: 700;
        border-style: solid;
        border-radius: 20px;
        background-color: transparent;
        color: #ecf0f1;
        border-color: #ecf0f1;
    }

    ul li button:hover {
        background-color: #ecf0f1;
        color: #1abc9c;
        border-color: #ecf0f1;
    }

    ul li button:focus {
        outline: none;
        background-color: transparent;
        color: #ecf0f1;
        border-color: #ecf0f1;
    }

}

.content {
    height: 100%;
    z-index: 3;
    position: relative;
    max-width: 100%;
    justify-content: space-evenly;
    display: flex;

    color: #ecf0f1;

    h1 {
        padding: 220px 120px 0;
        font-size: 44px;
        text-shadow: 2px 2px 4px rgba($color: #000000, $alpha: 0.5);
        font-weight: 900;
    }

    p {
        padding: 220px 120px 0;
        padding-top: 20px;
        padding-right: 100px;
        text-justify: newspaper;
        font-size: 20px;
        font-weight: 200;
        text-shadow: 1px 1px 2px rgba($color: #000000, $alpha: 0.5);
    }
}

.example {
    padding: 170px 120px 0;
    width: 70%;
    height: 100%;

    img {
        margin-left: 10vh;
        width: 90%;
    }

}


table {
    width: 100%;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 5px;
    text-align: left;
}

.nav-list {

    background-color: #dfe6e9;
    height: 10vh;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    list-style: none;

    img {
        position: relative;
        left: 0;
        height: 80%;
    }
}

.nav-links {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.form {
    input {
        background-color: #dfe6e9;
        border: none;
        border-bottom: 1px solid #2d3436;
    }

    input:focus {
        outline: none;
        border-bottom: 1px solid #74b9ff;
    }

    label {
        font-size: 16px;
        color: #2d3436;
    }
}

.home-content {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    img {
        margin-top: 60px;
        height: 90%;
    }

    h1 {
        color: #2d3436;
        font-size: 40px;
        margin: 30px 0px;
    }

    p {

        color: #2d3436;
        font-size: 20px;
    }
}

.home {
    height: 90vh;
    position: absolute;
    width: 100%;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

main {
    min-height: 100vh;
    background: linear-gradient(to right top, #60b3eb, #6ceed4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
    background: white;
    min-height: 90vh;
    width: 80%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
    border-radius: 1rem;
    z-index: 3;
    backdrop-filter: blur(0.5rem);
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    
}

.circle1,
.circle2,
.circle3,
.circle4,
.circle5,
.circle6,
.circle7 {
    background: white;
    background: linear-gradient(to right bottom,
            rgba(255, 255, 255, 0.6),
            rgba(255, 255, 255, 0.3));
    height: 10rem;
    width: 10rem;
    position: absolute;
    border-radius: 50%;
}

.circle1 {
    top: 2%;
    right: 5%;
}

.circle2 {
    bottom: 2%;
    left: 30%;
}

.circle3 {
    bottom: 2%;
    right: 5%;
}
.circle4 {
    top: 2%;
    right: 30%;
}
.circle5 {
    bottom: 2%;
    left: 30%;
}
.circle6 {
    top: 10%;
    left: 30%;
}
.circle7 {
    bottom: 10%;
    right: 30%;
}

.dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(to right bottom,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0.4));
    border-radius: 1rem;
    box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.1);

    h3 {
        font-size: 18px;
        color: #132741;
        opacity: 0.8;
    }

}

a.fill:hover {
    text-decoration: none;
}

.option {
    background-image: linear-gradient(to bottom left, #0071bc9f, #0071bc46);
    display: flex;
    margin: 1rem 0rem;
    padding: 0.7rem 1.3rem;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.1);
    img {
        width: 1.7rem;
    }

    h2 {
        font-size: 14px;
        font-weight: 400;
        color: #ecf0f1;
        padding: 0rem 2rem;
    }

}

.info {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;

    .retangle {
        background: white;
        background: linear-gradient(to right bottom,
                rgba(255, 255, 255, 0.5),
                rgba(255, 255, 255, 0.1));
        height: 1.5rem;
        width: 20rem;
        position: absolute;
        top: 53%;
        border-radius: 2rem;
    }

    h2 {
        font-size: 24px;
        color: #132741;
        opacity: 0.8;
    }
}

.CadPac {
    flex: 2;
    display: none;
    flex-direction: column;

    h2 {
        color: #132741;
        opacity: 0.8;
        font-size: 24px;
        padding: 1rem 1.5rem;
        margin-bottom: 0.5rem;
    }

    .formul {
        width: auto;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        h5 {
            margin-left: 22.5rem;
            margin-bottom: 0.3rem;
            color: #132741;
        }

        h4 {
            margin-left: 1.1rem;
            margin-bottom: 0.3rem;
            color: #132741;
            font-size: 14px;
        }

        label {
            padding: 0.5rem 1rem;
            font-size: 12px;
        }

       
        input[type="date"]::-webkit-calendar-picker-indicator {
            filter: invert(12%) sepia(9%) saturate(6483%) hue-rotate(182deg) brightness(95%) contrast(93%);
        }

        textarea {
            resize: none;
            width: 34rem;
            height: 14%;
            padding: 1rem;
            background: linear-gradient(to right bottom,
                    rgba(255, 255, 255, 0.3),
                    rgba(255, 255, 255, 0.1));
            border-radius: 1rem;

            &:focus, &:hover {
                background: linear-gradient(to right bottom,
                        rgba(216, 243, 239, 0.644),
                        rgba(204, 238, 243, 0.3));

            }
            &::placeholder{
                color: #1327419a;
            }
        }

        button {
            float: right;
            border-radius: 1rem;
            width: 3rem;
            font-size: 16px;
            margin-left: 2rem;
            margin-right: 3rem;
            color: #ecf0f1;
            img{
                width: 3rem;

                &:hover{
                    background: url("../Resources/sendsec.svg");
                }
            }
        }
    }
}
.confirm{
    display: flex;
    margin-top: 27rem;
}
.EditPac {
    flex: 2;
    display: none;
}

.ListPac {
    flex: 2;
    display: none;
}

.CadFunc {
    flex: 2;
    display: none;
}

.EditFunc {
    flex: 2;
    display: none;
}