* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.wrap {
  z-index: -2;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#0175c2), to(#1abc9c));
  background-image: linear-gradient(to top, #0175c2 0%, #1abc9c 100%);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
}

/*---------------------------------------------*/
.text-center {
  text-align: center !important;
  padding-top: 5rem;
}

a {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.7;
  color: #2d3436;
  margin: 0px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  text-decoration: none;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: underline;
  color: #0175c2;
  color: linear-gradient(left, #0175c2, #1abc9c);
}

/*---------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul,
li {
  margin: 0px;
  list-style-type: none;
}

/*---------------------------------------------*/
input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus:-moz-placeholder {
  color: transparent;
}

textarea:focus::-moz-placeholder {
  color: transparent;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder {
  color: #1327419a;
}

input:-moz-placeholder {
  color: #1327419a;
}

input::-moz-placeholder {
  color: #1327419a;
}

input:-ms-input-placeholder {
  color: #1327419a;
}

textarea::-webkit-input-placeholder {
  color: #1327419a;
}

textarea:-moz-placeholder {
  color: #1327419a;
}

textarea::-moz-placeholder {
  color: #1327419a;
}

textarea:-ms-input-placeholder {
  color: #1327419a;
}

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-size: 12px;
  color: #132741b0;
}

.txt2 {
  font-weight: 700;
  font-size: 14px;
  color: #0077ff;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/
.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#019aff), to(#1fdeb8));
  background-image: linear-gradient(to left top, #019aff, #1fdeb8);
}

.func {
  margin-left: 5rem;
  margin-top: 18rem;
}

.wrap-login100 {
  width: 390px;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.4)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
  border-radius: 10px;
  overflow: hidden;
  padding: 77px 55px 33px 55px;
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

/*------------------------------------------------------------------
[ Form ]*/
.login100-form {
  width: 100%;
}

.login100-form-title {
  padding-bottom: 50px;
  font-weight: 900;
  display: block;
  font-size: 30px;
  color: #1327419a;
  line-height: 1.2;
  text-align: center;
}

.login100-form-title i {
  font-size: 60px;
}

/*------------------------------------------------------------------
[ Input ]*/
.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #132741b0;
  margin-bottom: 37px;
}

.wrap-input50 {
  width: 20%;
  position: absolute;
  border-bottom: 2px solid #9ce3f1;
  margin-bottom: 37px;
}

.wrap-input50dta {
  width: 20%;
  position: absolute;
  border-bottom: 2px solid #9ce3f1;
  margin-bottom: 37px;
}

.nm {
  left: 35%;
}

.sr {
  left: 65%;
}

.cpf {
  left: 35%;
  top: 23%;
}

.dt {
  left: 65%;
  top: 23%;
}

.ru {
  left: 35%;
  top: 33%;
}

.br {
  left: 65%;
  top: 33%;
}

.nu {
  left: 35%;
  top: 43%;
}

.cm {
  left: 65%;
  top: 43%;
}

.ct {
  left: 35%;
  top: 53%;
}

.es {
  left: 65%;
  top: 53%;
}

.gv {
  left: 35%;
  top: 63%;
}

.ac {
  left: 65%;
  top: 63%;
}

.dti {
  left: 35%;
  top: 73%;
}

.input100 {
  font-size: 15px;
  color: #2d3436;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px;
}

.input50 {
  font-size: 15px;
  color: #256875;
  font-weight: 500;
  line-height: 1.2;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px;
}

.input50dta {
  font-size: 15px;
  font-weight: 500;
  color: #256875;
  line-height: 1.2;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px;
}

/*---------------------------------------------*/
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input50 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input50dta {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0;
  pointer-events: none;
}

.focus-input50dta::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background: #0175c2;
  background: -webkit-gradient(linear, left top, right top, from(#0199ff), to(#1fdeb8be));
  background: linear-gradient(left, #0199ff, #1fdeb8be);
}

.focus-input50dta::after {
  font-size: 12px;
  color: #256875;
  line-height: 1.2;
  content: attr(data-placeholder);
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.focus-input50::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background: #0175c2;
  background: -webkit-gradient(linear, left top, right top, from(#0199ff), to(#1fdeb8be));
  background: linear-gradient(left, #0199ff, #1fdeb8be);
}

.focus-input50::after {
  font-size: 15px;
  font-weight: 500;
  color: #256875;
  line-height: 1.2;
  content: attr(data-placeholder);
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.input50dta:focus + .focus-input50dta::after {
  top: -5px;
}

.input50dta:focus + .focus-input50dta::before {
  width: 100%;
}

.has-val.input50dta + .focus-input50dta::after {
  top: -5px;
}

.has-val.input50dta + .focus-input50dta::before {
  width: 100%;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background: #0175c2;
  background: -webkit-gradient(linear, left top, right top, from(#0199ff), to(#1fdeb8be));
  background: linear-gradient(left, #0199ff, #1fdeb8be);
}

.focus-input100::after {
  font-size: 15px;
  color: #132741b0;
  line-height: 1.2;
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100::after {
  top: -15px;
}

.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::after {
  top: -15px;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

.input50:focus + .focus-input50::after {
  top: -5px;
}

.input50:focus + .focus-input50::before {
  width: 100%;
}

.has-val.input50 + .focus-input50::after {
  top: -5px;
}

.has-val.input50 + .focus-input50::before {
  width: 100%;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 13px;
}

.wrap-login100-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
  -webkit-box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.1);
}

.login100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, from(#0478c5c0), to(#1fdeb8a9));
  background: linear-gradient(right, #0478c5c0, #1fdeb8a9);
  top: 0;
  left: -100%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn {
  font-size: 15px;
  color: #ecf0f1;
  line-height: 1.2;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
}

.wrap-login100-form-btn:hover .login100-form-bgbtn {
  left: 0;
}

/*------------------------------------------------------------------
[ Responsive ]*/
@media (max-width: 576px) {
  .wrap-login100 {
    padding: 77px 15px 33px 15px;
  }
}

.wave {
  position: absolute;
  width: 100%;
  height: 90%;
  bottom: 0;
  overflow: hidden;
  z-index: 2;
}

.wave img {
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
}

header {
  z-index: 4;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 20px 50px;
}

header .menu {
  float: right;
  margin-bottom: 10px;
}

header .icon {
  float: left;
  width: 8vh;
}

header .logo {
  padding: 0.5vh 2vh;
  font-size: 28px;
  font-weight: 700;
  color: #ecf0f1;
  float: left;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

header ul li {
  display: inline-block;
}

header ul li button {
  margin-top: 5px;
  padding: 5px 30px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  border-style: solid;
  border-radius: 20px;
  background-color: transparent;
  color: #ecf0f1;
  border-color: #ecf0f1;
}

header ul li button:hover {
  background-color: #ecf0f1;
  color: #1abc9c;
  border-color: #ecf0f1;
}

header ul li button:focus {
  outline: none;
  background-color: transparent;
  color: #ecf0f1;
  border-color: #ecf0f1;
}

.content {
  height: 100%;
  z-index: 3;
  position: relative;
  max-width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ecf0f1;
}

.content h1 {
  padding: 220px 120px 0;
  font-size: 44px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: 900;
}

.content p {
  padding: 220px 120px 0;
  padding-top: 20px;
  padding-right: 100px;
  text-justify: newspaper;
  font-size: 20px;
  font-weight: 200;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.example {
  padding: 170px 120px 0;
  width: 70%;
  height: 100%;
}

.example img {
  margin-left: 10vh;
  width: 90%;
}

table {
  width: 100%;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 5px;
  text-align: left;
}

.nav-list {
  background-color: #dfe6e9;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  list-style: none;
}

.nav-list img {
  position: relative;
  left: 0;
  height: 80%;
}

.nav-links {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.form input {
  background-color: #dfe6e9;
  border: none;
  border-bottom: 1px solid #2d3436;
}

.form input:focus {
  outline: none;
  border-bottom: 1px solid #74b9ff;
}

.form label {
  font-size: 16px;
  color: #2d3436;
}

.home-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-content img {
  margin-top: 60px;
  height: 90%;
}

.home-content h1 {
  color: #2d3436;
  font-size: 40px;
  margin: 30px 0px;
}

.home-content p {
  color: #2d3436;
  font-size: 20px;
}

.home {
  height: 90vh;
  position: absolute;
  width: 100%;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

main {
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#019aff), to(#1fdeb8));
  background-image: linear-gradient(to right bottom, #019aff, #1fdeb8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.glass {
  background: white;
  min-height: 90vh;
  width: 80%;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
  border-radius: 1rem;
  z-index: 3;
  -webkit-backdrop-filter: blur(1.5rem);
          backdrop-filter: blur(1.5rem);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.circle1,
.circle2,
.circle3,
.circle4,
.circle5,
.circle6,
.circle7 {
  background: white;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3));
  height: 10rem;
  width: 10rem;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 2%;
  right: 5%;
}

.circle2 {
  bottom: 2%;
  left: 30%;
}

.circle3 {
  bottom: 2%;
  right: 5%;
}

.circle4 {
  top: 2%;
  right: 30%;
}

.circle5 {
  bottom: 2%;
  left: 30%;
}

.circle6 {
  top: 10%;
  left: 30%;
}

.circle7 {
  bottom: 10%;
  right: 30%;
}

.dashboard {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.4)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
  border-radius: 1rem;
  -webkit-box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.1);
}

.dashboard h3 {
  font-size: 18px;
  color: #132741;
  opacity: 0.8;
}

a.fill:hover {
  text-decoration: none;
}

.option {
  background-image: -webkit-gradient(linear, right top, left bottom, from(#0071bc9f), to(#0071bc46));
  background-image: linear-gradient(to bottom left, #0071bc9f, #0071bc46);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0rem;
  padding: 0.7rem 1.3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1rem;
  -webkit-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.1);
}

.option img {
  width: 1.7rem;
}

.option h2 {
  font-size: 14px;
  font-weight: 400;
  color: #ecf0f1;
  padding: 0rem 2rem;
}

.info {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info .retangle {
  background: white;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.1)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
  height: 1.5rem;
  width: 20rem;
  position: absolute;
  top: 53%;
  border-radius: 2rem;
}

.info h2 {
  font-size: 24px;
  color: #132741;
  opacity: 0.8;
}

.CadPac,
.CadFunc,
.EditPac,
.EditFunc,
.ListPac {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.CadPac h2,
.CadFunc h2,
.EditPac h2,
.EditFunc h2,
.ListPac h2 {
  color: #132741;
  opacity: 0.8;
  font-size: 24px;
  padding: 1rem 1.5rem;
  margin-bottom: 0.5rem;
}

.CadPac .formul,
.CadFunc .formul,
.EditPac .formul,
.EditFunc .formul,
.ListPac .formul {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.CadPac .formul h5,
.CadFunc .formul h5,
.EditPac .formul h5,
.EditFunc .formul h5,
.ListPac .formul h5 {
  margin-left: 22.5rem;
  margin-bottom: 0.3rem;
  color: #132741;
}

.CadPac .formul h4,
.CadFunc .formul h4,
.EditPac .formul h4,
.EditFunc .formul h4,
.ListPac .formul h4 {
  margin-left: 1.1rem;
  margin-bottom: 0.3rem;
  color: #132741;
  font-size: 14px;
}

.CadPac .formul label,
.CadFunc .formul label,
.EditPac .formul label,
.EditFunc .formul label,
.ListPac .formul label {
  padding: 0.5rem 1rem;
  font-size: 12px;
}

.CadPac .formul input[type="date"]::-webkit-calendar-picker-indicator,
.CadFunc .formul input[type="date"]::-webkit-calendar-picker-indicator,
.EditPac .formul input[type="date"]::-webkit-calendar-picker-indicator,
.EditFunc .formul input[type="date"]::-webkit-calendar-picker-indicator,
.ListPac .formul input[type="date"]::-webkit-calendar-picker-indicator {
  -webkit-filter: invert(36%) sepia(14%) saturate(1821%) hue-rotate(142deg) brightness(92%) contrast(90%);
          filter: invert(36%) sepia(14%) saturate(1821%) hue-rotate(142deg) brightness(92%) contrast(90%);
}

.CadPac .formul input[type="date"],
.CadFunc .formul input[type="date"],
.EditPac .formul input[type="date"],
.EditFunc .formul input[type="date"],
.ListPac .formul input[type="date"] {
  top: -5px;
}

.CadPac .formul textarea,
.CadFunc .formul textarea,
.EditPac .formul textarea,
.EditFunc .formul textarea,
.ListPac .formul textarea {
  resize: none;
  width: 34rem;
  height: 14%;
  padding: 1rem;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.1)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
  border-radius: 1rem;
}

.CadPac .formul textarea:focus, .CadPac .formul textarea:hover,
.CadFunc .formul textarea:focus,
.CadFunc .formul textarea:hover,
.EditPac .formul textarea:focus,
.EditPac .formul textarea:hover,
.EditFunc .formul textarea:focus,
.EditFunc .formul textarea:hover,
.ListPac .formul textarea:focus,
.ListPac .formul textarea:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(216, 243, 239, 0.644)), to(rgba(204, 238, 243, 0.3)));
  background: linear-gradient(to right bottom, rgba(216, 243, 239, 0.644), rgba(204, 238, 243, 0.3));
}

.CadPac .formul textarea::-webkit-input-placeholder,
.CadFunc .formul textarea::-webkit-input-placeholder,
.EditPac .formul textarea::-webkit-input-placeholder,
.EditFunc .formul textarea::-webkit-input-placeholder,
.ListPac .formul textarea::-webkit-input-placeholder {
  color: #1327419a;
}

.CadPac .formul textarea:-ms-input-placeholder,
.CadFunc .formul textarea:-ms-input-placeholder,
.EditPac .formul textarea:-ms-input-placeholder,
.EditFunc .formul textarea:-ms-input-placeholder,
.ListPac .formul textarea:-ms-input-placeholder {
  color: #1327419a;
}

.CadPac .formul textarea::-ms-input-placeholder,
.CadFunc .formul textarea::-ms-input-placeholder,
.EditPac .formul textarea::-ms-input-placeholder,
.EditFunc .formul textarea::-ms-input-placeholder,
.ListPac .formul textarea::-ms-input-placeholder {
  color: #1327419a;
}

.CadPac .formul textarea::placeholder,
.CadFunc .formul textarea::placeholder,
.EditPac .formul textarea::placeholder,
.EditFunc .formul textarea::placeholder,
.ListPac .formul textarea::placeholder {
  color: #1327419a;
}

.CadPac button {
  float: right;
  border-radius: 1rem;
  width: 3rem;
  font-size: 16px;
  margin-left: 2rem;
  margin-right: 3rem;
  color: #ecf0f1;
}

.CadPac button img {
  width: 3rem;
}

.CadPac button img:hover {
  background: url("../Resources/sendsec.svg");
}

.CadFunc button {
  margin-left: 11rem;
  margin-top: 19.4rem;
  width: 13.4rem;
  height: 2.5rem;
  background-image: -webkit-gradient(linear, right top, left bottom, from(#0071bc9f), to(#0071bc46));
  background-image: linear-gradient(to bottom left, #0071bc9f, #0071bc46);
  border-radius: 1rem;
  color: #ecf0f1;
  line-height: 1.2;
  -webkit-box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.1);
}

.CadFunc button:hover {
  background: -webkit-gradient(linear, right top, left top, from(#2690d6c0), to(#45e4c4a9));
  background: linear-gradient(right, #2690d6c0, #45e4c4a9);
}

.confirm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 27rem;
}

.EditPac img,
.EditFunc img {
  width: 1.7rem;
  margin-top: 1rem;
  margin-left: 15rem;
}

.EditPac img:hover,
.EditFunc img:hover {
  cursor: pointer;
  background: url(../Resources/searchsec.svg);
}

.ListPac {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: none;
}

.CadFunc {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.2)));
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2));
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.4)));
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.4));
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.9)));
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.9));
}

.cards {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  overflow-y: auto;
  height: 78vh;
  color: white;
}

.card {
  margin: 1rem;
  width: calc((100% / 3) - 50px);
  height: 15rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: white;
}

.card:hover .card__inner {
  color: white;
  border-radius: 1rem;
  background-color: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.5));
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.card__inner {
  -webkit-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  padding: 1rem;
  position: relative;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.card__inner:after {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card__inner span {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1px, 8px;
}

.card__inner span::before {
  content: "\A";
}

.card__inner span img {
  width: 10px;
  margin-right: 10px;
}

.card__inner .nomer {
  font-weight: 700;
  color: #454545;
  font-size: 24px;
}

.card__inner .gravidad {
  display: block;
  font-weight: 700;
  color: #C0392B;
  font-size: 16px;
  margin-bottom: 0.3rem;
}

.card__inner .sintom {
  font-weight: 700;
  color: #454545;
  font-size: 14px;
}

.card__inner .fa {
  color: white;
  width: 100%;
  margin-top: .25em;
}

.card__expander {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.7)));
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.7));
  width: 100%;
  position: relative;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  text-transform: uppercase;
  color: #454545;
  font-weight: 600;
  font-size: 14px;
}

.card__expander .fa {
  font-size: 0.75em;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.card__expander .fa:hover {
  opacity: 0.9;
}

.card.is-collapsed .card__inner:after {
  content: "";
  opacity: 0;
}

.card.is-collapsed .card__expander {
  max-height: 0;
  min-height: 0;
  overflow: hidden;
  margin-top: 0;
  opacity: 0;
}

.card.is-expanded .card__inner {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.5)));
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.5));
}

.card.is-expanded .card__inner:after {
  content: "";
  opacity: 1;
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  bottom: -30px;
  left: calc(50% - 15px);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid rgba(255, 255, 255, 0.3);
}

.card.is-expanded .card__inner .fa:before {
  content: "\f115";
}

.card.is-expanded .card__expander {
  max-height: 1000px;
  min-height: 200px;
  overflow: visible;
  margin-top: 30px;
  opacity: 1;
}

.card.is-expanded:hover .card__inner {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.card.is-inactive .card__inner {
  pointer-events: none;
  opacity: 0.5;
}

.card.is-inactive:hover .card__inner {
  background-color: gray;
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media screen and (min-width: 992px) {
  .card:nth-of-type(3n+2) .card__expander {
    margin-left: calc(-100% - 30px);
  }
  .card:nth-of-type(3n+3) .card__expander {
    margin-left: calc(-200% - 60px);
  }
  .card:nth-of-type(3n+4) {
    clear: left;
  }
  .card__expander {
    width: calc(300% + 60px);
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .card:nth-of-type(2n+2) .card__expander {
    margin-left: calc(-100% - 30px);
  }
  .card:nth-of-type(2n+3) {
    clear: left;
  }
  .card__expander {
    width: calc(200% + 30px);
  }
}
/*# sourceMappingURL=style.css.map */