$background_Dblue: #192a56;
$background_Gblue: #2f3640;
$bg_colorTranspHl: #11111170;
$bg_colorTransp: #ecf0f11a;
$T_color: #ecf0f1;
$T_colorHl: #71d5ee;
$T_colorTransp: #ecf0f1c5;

@mixin background($direction) {
    background-image: linear-gradient($direction, $background_Dblue 0%, $background_Gblue 100%);
}

@mixin darkglass($direction, $opacityS, $opacityE) {
    background-image: linear-gradient($direction, rgba(0, 0, 0, $opacityS), rgba(0, 0, 0, $opacityE));
}

@mixin lightglass($direction, $opacityS, $opacityE) {
    background-image: linear-gradient($direction, rgba(255, 255, 255, $opacityS), rgba(255, 255, 255, $opacityE));
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.wrap {

    @include background(20deg);

    z-index: -2;

    background-position: center;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
}

/*---------------------------------------------*/
.text-center {
    text-align: center !important;
    padding-top: 5rem;
}

a {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.7;
    color: #2d3436;
    margin: 0px;
    transition: all 0.4s;
    text-decoration: none;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: underline;
    color: #0175c2;
    color: linear-gradient(left, #0175c2, #1abc9c);
}

/*---------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

ul,
li {
    margin: 0px;
    list-style-type: none;
}


/*---------------------------------------------*/
input {
    outline: none;
    border: none;

    &::placeholder {
        color: $T_colorTransp;
    }
}

textarea {
    outline: none;
    border: none;

    &::placeholder {
        color: $T_colorTransp;
    }
}

textarea:focus,
input:focus {
    border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}

textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

textarea:focus:-moz-placeholder {
    color: transparent;
}

textarea:focus::-moz-placeholder {
    color: transparent;
}

textarea:focus:-ms-input-placeholder {
    color: transparent;
}

/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;

    &:hover {
        cursor: pointer;
    }
}

iframe {
    border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
    font-size: 12px;
    color: $T_color;
}

.txt2 {
    font-weight: 700;
    font-size: 14px;
    color: #2e498d;
}

.txterror {
    margin-top: 2rem;
    font-weight: 700;
    font-size: 14px;
    color: #C0392B;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-login100 {
    @include background(to left bottom);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.func {
    margin-left: 5rem;
    margin-top: 18rem;
}

.wrap-login100 {
    width: 390px;
    @include darkglass(to right bottom, 0.1, 0.4);
    border-radius: 10px;
    overflow: hidden;
    padding: 77px 55px 33px 55px;
    backdrop-filter: blur(1rem);
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}


/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
    width: 100%;
}

.login100-form-title {
    padding-bottom: 50px;
    font-weight: 900;
    display: block;
    font-size: 30px;
    color: $T_colorTransp;
    line-height: 1.2;
    text-align: center;
}

.login100-form-title i {
    font-size: 60px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid $T_colorTransp;
    margin-bottom: 37px;
}

.wrap-input50 {
    width: 20%;
    position: absolute;
    border-bottom: 2px solid $T_colorTransp;
    margin-bottom: 37px;
}

.wrap-input50dta {
    width: 20%;
    position: absolute;
    border-bottom: 2px solid $T_colorTransp;
    margin-bottom: 37px;
}

.nm {
    left: 35%;
}

.sr {
    left: 65%;
}

.cpf {
    left: 35%;
    top: 23%;
}

.dt {
    left: 65%;
    top: 23%;
}

.ru {
    left: 35%;
    top: 33%;
}

.br {
    left: 65%;
    top: 33%;
}

.nu {
    left: 35%;
    top: 43%;
}

.cm {
    left: 65%;
    top: 43%;
}

.ct {
    left: 35%;
    top: 53%;
}

.es {
    left: 65%;
    top: 53%;
}

.gv {
    left: 35%;
    top: 63%;
}

.ac {
    left: 65%;
    top: 63%;
}

.dti {
    left: 35%;
    top: 73%;
}

.input100 {
    font-size: 15px;
    color: $T_colorTransp;
    line-height: 1.2;

    display: block;
    width: 100%;
    height: 45px;
    background: transparent;
    padding: 0 5px;
    transition: all 0.2s ease-in-out;

    &:hover {
        background: rgba(0, 0, 0, 0.1);
        transform: translateY(2px);
    }
}

.input50 {
    font-size: 15px;
    color: $T_colorTransp;
    font-weight: 500;
    line-height: 1.2;
    width: 100%;
    height: 45px;
    background: transparent;
    padding: 0 5px;
    transition: all 0.2s ease-in-out;

    &:hover {
        background: rgba(0, 0, 0, 0.1);
        transform: translateY(2px);
    }
}

.input50dta {
    font-size: 15px;
    font-weight: 500;
    color: $T_colorTransp;
    line-height: 1.2;
    width: 100%;
    height: 45px;
    background: transparent;
    padding: 0 5px;
    transition: all 0.2s ease-in-out;

    &:hover {
        background: rgba(0, 0, 0, 0.1);
        transform: translateY(2px);
    }
}

/*---------------------------------------------*/
.focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.focus-input50 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;

}

.focus-input50dta {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    pointer-events: none;

}

.focus-input50dta::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.4s;
    background: #4e5c70;
    background: linear-gradient(left, #2e498d 0%, #4e5c70 100%);
    transition: all 0.2s ease-in-out;

}

.focus-input50dta::after {
    font-size: 12px;
    color: $T_colorTransp;
    line-height: 1.2;
    content: attr(data-placeholder);
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    padding-left: 5px;
    transition: all 0.4s;

}

.focus-input50::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.4s;
    background: #4e5c70;
    background: linear-gradient(left, #2e498d 0%, #4e5c70 100%);
}

.focus-input50::after {
    font-size: 15px;
    font-weight: 500;
    color: $T_colorTransp;
    line-height: 1.2;
    content: attr(data-placeholder);
    width: 100%;
    position: absolute;
    top: 16px;
    left: 0px;
    padding-left: 5px;
    transition: all 0.4s;
}

.input50dta:focus+.focus-input50dta::after {
    top: -5px;
}

.input50dta:focus+.focus-input50dta::before {
    width: 100%;
}

.has-val.input50dta+.focus-input50dta::after {
    top: -5px;
}

.has-val.input50dta+.focus-input50dta::before {
    width: 100%;
}

.focus-input100::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.4s;

    background: #4e5c70;
    background: linear-gradient(left, #2e498d 0%, #4e5c70 100%);
}

.focus-input100::after {
    font-size: 15px;
    color: $T_color;
    ;
    line-height: 1.2;

    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 16px;
    left: 0px;
    padding-left: 5px;
    transition: all 0.4s;
}

.input100:focus+.focus-input100::after {
    top: -15px;
}

.input100:focus+.focus-input100::before {
    width: 100%;
}

.has-val.input100+.focus-input100::after {
    top: -15px;
}

.has-val.input100+.focus-input100::before {
    width: 100%;
}



.input50:focus+.focus-input50::after {
    top: -5px;
}

.input50:focus+.focus-input50::before {
    width: 100%;
}

.has-val.input50+.focus-input50::after {
    top: -5px;
}

.has-val.input50+.focus-input50::before {
    width: 100%;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 13px;
}

.wrap-login100-form-btn {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.1);
}

.login100-form-bgbtn {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: linear-gradient(left, #2e498d 0%, #4e5c70 100%);
    top: 0;
    left: -100%;
    transition: all 0.4s;

}

.login100-form-btn {
    font-size: 18px;
    color: $T_color;
    line-height: 1.2;
    display: flex;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
}

.wrap-login100-form-btn:hover .login100-form-bgbtn {
    left: 0;
}





/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
    .wrap-login100 {
        padding: 77px 15px 33px 15px;
    }
}

.wave {
    position: absolute;
    width: 100%;
    height: 90%;
    bottom: 0;
    overflow: hidden;


    z-index: 2;


}

header {
    z-index: 4;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 20px 50px;

    .menu {
        float: right;
        margin-bottom: 10px;
    }

    .icon {
        float: left;
        width: 8vh;
    }

    .logo {
        padding: 0.5vh 2vh;
        font-size: 28px;
        font-weight: 700;
        color: $T_color;
        float: left;
        text-shadow: 2px 2px 4px rgba($color: #000000, $alpha: 0.3);
    }

    ul li {
        display: inline-block;
    }

    ul li button {
        margin-top: 5px;
        padding: 0.5rem 4rem;
        text-decoration: none;
        font-size: 18px;
        font-weight: 700;
        border-radius: 1rem;
        background-color: transparent;
        color: $T_color;
        transition: all 0.2s ease-in-out;
        box-shadow: 2px 2px 4px rgba($color: #000000, $alpha: 0.3);
    }

    ul li button:hover {
        background-color: rgba(255, 255, 255, 0.3);
    }

    ul li button:focus {
        outline: none;
        background-color: transparent;
        color: $T_color;
        border-color: $T_color;
    }

}

.content {
    height: 100%;
    z-index: 3;
    position: relative;
    max-width: 100%;
    justify-content: space-evenly;
    display: flex;

    color: $T_color;

    h1 {
        padding: 220px 120px 0;
        font-size: 44px;
        text-shadow: 2px 2px 4px rgba($color: #000000, $alpha: 0.5);
        font-weight: 900;
    }

    p {
        padding: 220px 120px 0;
        padding-top: 20px;
        padding-right: 100px;
        text-justify: newspaper;
        font-size: 20px;
        font-weight: 200;
        text-shadow: 1px 1px 2px rgba($color: #000000, $alpha: 0.5);
    }
}

.example {
    width: 70%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .card1 {

        transform-style: preserve-3d;
        margin-right: 4rem;
        @include lightglass(to right bottom, 0.02, 0.07);
        height: 20rem;
        width: 15rem;
        position: absolute;
        border-radius: 1rem;
        backdrop-filter: blur(1.5rem);
        box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.4);
        padding: 1.5rem;

        span {
            justify-content: center;
            align-items: center;
            padding: 1px, 8px;

            &::before {
                content: "\A";
            }

            img {
                padding-bottom: 1px;
                width: 10px;
                margin-right: 10px;
            }
        }

        .nomer {

            font-weight: 700;
            color: $T_color;
            font-size: 32px;
        }

        .gravidad {
            display: block;
            font-weight: 900;
            color: #d63031;
            font-size: 20px;
            margin-bottom: 0.3rem;
        }

        .sintom {
            font-weight: 700;
            color: $T_color;
            font-size: 18px;
        }
    }

}


.nav-list {

    background-color: $T_color;
    height: 10vh;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    list-style: none;

    img {
        position: relative;
        left: 0;
        height: 80%;
    }
}

.nav-links {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.bg {
    @include background(to left bottom);
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.abstract1,
.abstract2 {
    position: absolute;
    width: 70%;
}

.abstract2 {
    top: 0%;
    right: 0%;
}

.abstract1 {
    bottom: 0%;
    left: 0%;
}

.glassbg {
    min-height: 90vh;
    width: 80%;
    z-index: 3;
    backdrop-filter: blur(1.5rem);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px 0px, rgba(0, 0, 0, 0.1) 0px 5px 10px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include darkglass(to bottom right, 0.1, 0.3);
    border-radius: 1rem;

    img {
        width: 60%;
    }

    h2 {
        color: $T_color;
        font-size: 24px;

    }

    button {
        margin: 2rem;
        padding: 1rem 2rem;
        color: $T_color;
        font-size: 16px;
        font-weight: 700;
        border-radius: 1rem;
        background-color: rgba(255, 255, 255, 0.02);
        box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.1), 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
        transition: all 0.2s ease-in-out;

        &:hover {
            transform: scale(1.03);
            background-color: rgba(255, 255, 255, 0.1);
        }
    }
}



main {
    @include background(-20deg);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.glass {
    min-height: 90vh;
    width: 80%;
    @include darkglass(to bottom right, 0.1, 0.3);
    border-radius: 1rem;
    z-index: 3;
    backdrop-filter: blur(1.5rem);
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    display: flex;

}

.circle1,
.circle2,
.circle3,
.circle4,
.circle5,
.circle6,
.circle7,
.circle8 {
    @include lightglass(to bottom right, 0.6, 0.3);
    height: 10rem;
    width: 10rem;
    position: absolute;
    border-radius: 50%;
}

.circle1 {
    top: 2%;
    right: 5%;
}

.circle2 {
    bottom: 2%;
    left: 30%;
}

.circle3 {
    z-index: 2;
    bottom: 20%;
    right: 28%;
    width: 7rem;
    height: 7rem;
    background-image: linear-gradient(to right top, #f43b47 0%, #453a94 100%);

}

.circle8 {
    top: 19%;
    right: 11%;
    width: 7rem;
    height: 7rem;
    background-image: linear-gradient(to left bottom, #f43b47 0%, #453a94 100%);
}

.circle4 {
    top: 2%;
    right: 30%;
}

.circle5 {
    bottom: 2%;
    left: 30%;
}

.circle6 {
    top: 10%;
    left: 30%;
}

.circle7 {
    bottom: 10%;
    right: 30%;
}

.popup {
    z-index: 50;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 25%;
    height: 30%;
    border-radius: 1rem;
    @include darkglass(to top left, 0.2, 0.4);
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(1.5rem);
    box-shadow: 5px 5px 40px 5px rgba(0, 0, 0, 0.2), 5px 5px 10px 1px rgba(0, 0, 0, 0.5);

    h2 {
        font-size: 18px;
        color: #C0392B;
        margin-top: 1rem;
        margin-bottom: 2rem;
        text-shadow: 4px 4px 10px rgba($color: #000000, $alpha: 0.8);
    }

    h3 {
        font-size: 16px;
        color: $T_color;
    }

    button {
        color: $T_color;
        font-weight: 600;
        font-size: 16px;
        position: absolute;
        background: rgba(255, 255, 255, 0.04);
        padding: 1rem;
        bottom: 0;
        width: 100%;
        border-radius: 0 0 1rem 1rem;
        transition: all 0.2s ease-in-out;

        &:hover {
            background: rgba(255, 255, 255, 0.2);
        }
    }
}

.dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    @include darkglass(to bottom right, 0, 0.4);
    border-radius: 1rem;
    box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.3);

    .user {
        padding-top: 1rem;
        padding-left: 5rem;
        padding-right: 5rem;
        background: transparent;
        border-radius: 1rem;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
            background: rgba(255, 255, 255, 0.1);
        }

        img {
            width: 5rem;
        }
    }

    h3 {
        font-size: 18px;
        color: $T_color;
        opacity: 0.8;
    }

    h4 {
        font-size: 14px;
        color: #8192aa;
        opacity: 0.8;
        font-weight: 400;
    }

    a:hover {
        text-decoration: none;
    }

}

a.fill:hover {
    text-decoration: none;
}

.option {
    display: flex;
    margin: 1rem 0rem;
    padding: 0.7rem 1.3rem;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.1s ease-in-out;

    img {
        width: 1.7rem;
    }

    h2 {
        font-size: 14px;
        font-weight: 400;
        color: $T_color;
        padding: 0rem 2rem;
    }

    &:hover {
        transform: scale(1.02);
    }
}

.info {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;

    .retangle {
        @include lightglass(to bottom right, 0.1, 0);
        height: 1.5rem;
        width: 20rem;
        position: absolute;
        top: 53%;
        border-radius: 2rem;
    }

    h2 {
        font-size: 24px;
        color: $T_color;
        opacity: 0.8;
    }
}

.CadPac,
.Func,
.EditPac,
.Cons,
.Relatorio,
.ListPac,
.EditUser {
    flex: 2;
    display: none;
    flex-direction: column;

    h2 {
        color: $T_color;
        opacity: 0.8;
        font-size: 24px;
        padding: 1rem 1.5rem;
        margin-bottom: 0.5rem;
    }

    .formul {
        width: auto;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        h5 {
            margin-left: 22.5rem;
            margin-bottom: 0.3rem;
            color: $T_color;
        }

        h4 {
            margin-left: 1.1rem;
            margin-bottom: 0.3rem;
            color: $T_color;
            font-size: 14px;
        }

        label {
            padding: 0.5rem 1rem;
            font-size: 12px;
        }


        input[type="date"]::-webkit-calendar-picker-indicator {
            filter: invert(98%) sepia(8%) saturate(73%) hue-rotate(147deg) brightness(94%) contrast(102%);
            opacity: 0.8;
        }

        input[type="date"] {
            top: -5px;
        }

        textarea {
            color: $T_color;
            resize: none;
            width: 34rem;
            height: 14%;
            padding: 1rem;
            background: rgba(0, 0, 0, 0.3);
            border-radius: 1rem;
            transition: all 0.4s ease-in-out;

            &:focus,
            &:hover {
                background: rgba(0, 0, 0, 0.1);
            }

            &::placeholder {
                color: $T_color;
            }
        }
    }
}

.CadPac {

    .cading {
        button {
            float: right;
            border-radius: 1rem;
            width: 4rem;
            font-size: 16px;
            margin-left: 1rem;
            margin-right: 3rem;
            color: $T_color;

            img {
                opacity: 0.5;
                width: 3rem;
                transition: all 0.2s ease-in-out;

                &:hover {
                    opacity: 1;
                    transform: translateX(20px);
                }
            }
        }


    }

    .buttons {
        margin: 1rem;
        display: flex;
        width: 36rem;

        #cad1 {
            border-radius: 1rem 0 0 1rem;
            text-align: right;
            font-weight: 700;
            background-color: $bg_colorTranspHl;
        }

        #edit1 {
            border-radius: 0;
            text-align: center;
        }

        #view1 {
            border-radius: 0rem 1rem 1rem 0rem;
            text-align: left;
        }

        button {
            flex: 1;
            margin: 0;
            padding: 0.5rem;
            background-color: $bg_colorTransp;
            color: $T_color;
            opacity: 0.8;
            font-size: 16px;
            font-weight: 300;
            margin-bottom: 0.5rem;
            transition: all 0.2s ease-in-out;

            &:hover {
                transform: scale(1.02);
                background-color: $bg_colorTranspHl;
            }


        }
    }

    .EditPac {
        .subbt {
            button {
                img {
                    width: 1.7rem;
                    margin-top: 1rem;
                    margin-left: 15rem;
                    transition: all 0.4s ease-in-out;
                    opacity: 0.2;

                    &:hover {
                        transform: rotateZ(90deg);
                        cursor: pointer;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.Func {
    .cadFb {
        button {
            margin-left: 43%;
            margin-top: 145%;
            width: 13.4rem;
            padding: 0.5rem;
            background: rgba(0, 0, 0, 0.2);
            border-radius: 1rem;
            color: $T_color;
            line-height: 1.2;
            box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.1);
            transition: all 0.2s ease-in-out;

            &:hover {
                transform: scale(1.02);
                background: rgba(255, 255, 255, 0.3);

            }
        }
    }

    .EditFunc {
        display: none;
        flex-direction: column;

        h2 {
            color: $T_color;
            opacity: 0.8;
            font-size: 24px;
            padding: 1rem 1.5rem;
            margin-bottom: 0.5rem;
        }
    }

    .buttons {
        margin: 1rem;
        display: flex;
        width: 24rem;

        #cad2 {
            border-radius: 1rem 0 0 1rem;
            text-align: right;
            font-weight: 700;
            background-color: $bg_colorTranspHl;
        }

        #edit2 {
            border-radius: 0rem 1rem 1rem 0rem;
            text-align: left;
        }

        button {
            flex: 1;
            margin: 0;
            padding: 0.5rem;
            background-color: $bg_colorTransp;
            color: $T_color;
            opacity: 0.8;
            font-size: 16px;
            font-weight: 300;
            margin-bottom: 0.5rem;
            transition: all 0.2s ease-in-out;

            &:hover {
                transform: scale(1.02);
                background-color: $bg_colorTranspHl;
            }
        }
    }

    .subbt {
        button {
            img {
                width: 1.7rem;
                margin-top: 1rem;
                margin-left: 15rem;
                transition: all 0.4s ease-in-out;
                opacity: 0.2;

                &:hover {
                    transform: rotateZ(90deg);
                    cursor: pointer;
                    opacity: 1;
                }
            }
        }
    }
}

.Cons {
    input[type="date"]::-webkit-calendar-picker-indicator {
        filter: invert(98%) sepia(8%) saturate(73%) hue-rotate(147deg) brightness(94%) contrast(102%);
        opacity: 0.8;
    }

    input[type="time"]::-webkit-calendar-picker-indicator {
        filter: invert(98%) sepia(8%) saturate(73%) hue-rotate(147deg) brightness(94%) contrast(102%);
        opacity: 0.8;
    }

    #rea {
        display: none;
    }

    .buttons {
        margin: 1rem;
        display: flex;
        width: 24rem;

        #marc1 {
            border-radius: 1rem 0 0 1rem;
            text-align: right;
            font-weight: 700;
            background-color: $bg_colorTranspHl;
        }

        #real1 {
            border-radius: 0rem 1rem 1rem 0rem;
            text-align: left;
            background-color: $bg_colorTransp;
        }

        button {
            flex: 1;
            margin: 0;
            padding: 0.5rem;
            background-color: $bg_colorTransp;
            color: $T_color;
            opacity: 0.8;
            font-size: 16px;
            font-weight: 300;
            margin-bottom: 0.5rem;
            transition: all 0.2s ease-in-out;

            &:hover {
                transform: scale(1.02);
                background-color: $bg_colorTranspHl;
            }
        }
    }

    .cadbt {
        button {
            margin-left: 156%;
            margin-top: 55%;
            width: 13.4rem;
            padding: 0.5rem;
            background: rgba(0, 0, 0, 0.2);
            border-radius: 1rem;
            color: $T_color;
            line-height: 1.2;
            box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.1);
            transition: all 0.2s ease-in-out;

            &:hover {
                transform: scale(1.02);
                background: rgba(255, 255, 255, 0.3);

            }
        }
    }
}

.Relatorio {
    a {
        margin: 1rem 1.5rem;
        color: $T_color;
        font-size: 18px;
        text-decoration: none;

        &:hover {
            color: $T_colorHl;
            text-decoration: none;
            transform: scale(1.005);
        }
    }

    .cadbt {
        button {
            margin-left: 35%;
            margin-top: 0%;
            width: 3.4rem;
            padding: 0.5rem;
            border-radius: 1rem;
            color: $T_color;
            line-height: 1.2;
            transition: all 0.2s ease-in-out;

            &:hover {
                transform: rotateZ(30deg);

            }
        }
    }
}

.confirm {
    display: flex;
    margin-top: 27rem;
}

.cards {
    padding: 15px;
    display: flex;
    flex-flow: row wrap;
    overflow-y: auto;
    height: 70vh;
}

.ListPac {
    flex: 2;
    display: none;
}

.CadFunc {
    flex: 2;
    display: none;
}


::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    @include darkglass(to bottom right, 0.1, 0.2);
    border-radius: 10px;

}

/* Handle */
::-webkit-scrollbar-thumb {
    @include darkglass(to bottom right, 0.3, 0.4);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @include darkglass(to bottom right, 0.7, 0.9);
}

.cards {
    padding: 15px;
    display: flex;
    flex-flow: row wrap;
    overflow-y: auto;
    height: 70vh;
}

//Cards
.card {
    margin: 1rem;
    width: calc((100% / 3) - 50px);
    height: 15rem;
    transition: all 0.2s ease-in-out;

    &:hover {

        .card__inner {
            border-radius: 1rem;
            @include darkglass(to bottom right, 0.3, 0.5);
            transform: scale(1.05);
        }
    }

    &__inner {
        box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.1);
        border-radius: 1rem;
        width: 100%;
        height: 100%;
        padding: 1rem;
        position: relative;
        cursor: pointer;
        @include darkglass(left, 0.2, 0.3);
        transition: all 0.2s ease-in-out;

        &:after {
            transition: all 0.3s ease-in-out;
        }

        span {
            justify-content: center;
            align-items: center;
            padding: 1px, 8px;

            &::before {
                content: "\A";
            }

            img {
                padding-bottom: 1px;
                width: 7px;
                margin-right: 10px;
            }
        }

        .nomer {

            font-weight: 700;
            color: $T_color;
            font-size: 18px;
        }

        .gravidad {
            display: block;
            font-weight: 700;
            color: #C0392B;
            font-size: 14px;
            margin-bottom: 0.3rem;
        }

        .sintom {
            font-weight: 700;
            color: $T_color;
            font-size: 14px;
        }
    }

    //Expander
    &__expander {
        transition: all 0.2s ease-in-out;
        @include darkglass(to bottom right, 0.3, 0.7);
        width: 100%;
        position: relative;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        text-transform: uppercase;
        color: $T_color;
        font-weight: 600;
        font-size: 14px;

        .delete {
            button {
                position: absolute;
                background: transparent;
                width: 2rem;
                height: 2rem;
                right: 0%;
                top: 0%;

            }

            img {
                width: 2rem;
                position: absolute;
                right: 0%;
                top: 0%;
                filter: invert(88%) sepia(8%) saturate(69%) hue-rotate(145deg) brightness(109%) contrast(91%);
                transition: all 0.2s ease-in-out;

                &:hover {
                    transform: rotateZ(45deg);
                    filter: invert(28%) sepia(18%) saturate(7332%) hue-rotate(344deg) brightness(90%) contrast(88%);
                }
            }
        }

        .update {
            button {
                position: absolute;
                background: transparent;
                width: 2rem;
                height: 2rem;
                right: 5%;
                bottom: 5%;
            }

            img {
                width: 2rem;
                position: absolute;
                right: 0%;
                bottom: 0%;
                filter: invert(88%) sepia(8%) saturate(69%) hue-rotate(145deg) brightness(109%) contrast(91%);
                transition: all 0.2s ease-in-out;

                &:hover {
                    transform: rotateZ(45deg);
                    filter: invert(21%) sepia(77%) saturate(1150%) hue-rotate(223deg) brightness(93%) contrast(95%);
                }
            }
        }


        form {
            margin-left: 5%;

            span {
                font-size: 12px;
                font-weight: 300;
                text-transform: none;
                color: $T_colorTransp;
            }

            input {
                background: transparent;
                padding: 0.5rem;
                width: 80%;
                color: $T_colorTransp;
                font-size: 14px;
                font-weight: 700;
                border-bottom: 2px solid $T_colorTransp;
                margin-bottom: 0.5rem;
                transition: all 0.2s ease-in-out;

                &:hover {
                    background: rgba(0, 0, 0, 0.1);
                    border-bottom: 2px solid #453a94;
                }

                &:focus {
                    border-bottom: 2px solid $background_Gblue;
                }

            }
        }

        .fa {
            font-size: 0.75em;
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;

            &:hover {
                opacity: 0.9;
            }
        }
    }

    &.is-collapsed {
        .card__inner {
            &:after {
                content: "";
                opacity: 0;
            }
        }

        .card__expander {
            max-height: 0;
            min-height: 0;
            overflow: hidden;
            margin-top: 0;
            opacity: 0;
        }
    }

    &.is-expanded {

        .card__inner {
            @include darkglass(left, 0.3, 0.5);

            &:after {
                content: "";
                opacity: 1;
                display: block;
                height: 0;
                width: 0;
                position: absolute;
                bottom: -30px;
                left: calc(50% - 15px);
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                border-bottom: 15px solid rgba(0, 0, 0, 0.3);
            }

            //folder open icon
            .fa:before {
                content: "\f115";
            }
        }

        .card__expander {
            max-height: 1000px;
            min-height: 200px;
            overflow: visible;
            margin-top: 30px;
            opacity: 1;
        }

        &:hover {
            .card__inner {
                transform: scale(1);
            }
        }
    }

    &.is-inactive {
        .card__inner {
            pointer-events: none;
            opacity: 0.5;
        }

        &:hover {
            .card__inner {
                background-color: gray;
                transform: scale(1);
            }
        }
    }
}


//Expander Widths

//when 3 cards in a row
@media screen and (min-width: 992px) {

    .card:nth-of-type(3n+2) .card__expander {
        margin-left: calc(-100% - 30px);
    }

    .card:nth-of-type(3n+3) .card__expander {
        margin-left: calc(-200% - 60px);
    }

    .card:nth-of-type(3n+4) {
        clear: left;
    }

    .card__expander {
        width: calc(300% + 60px);
    }

}

//when 2 cards in a row
@media screen and (min-width: 768px) and (max-width: 991px) {

    .card:nth-of-type(2n+2) .card__expander {
        margin-left: calc(-100% - 30px);
    }

    .card:nth-of-type(2n+3) {
        clear: left;
    }

    .card__expander {
        width: calc(200% + 30px);
    }
}

@media print {
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
    }

    .head {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h3 {
        color: #2f3640;
        float: right;
    }

    h4 {
        color: #2f3640;
    }

    h2 {
        color: #2f3640;
    }

    table {
        color: #2f3640;
        border-collapse: collapse;
        width: 100%;
    }

    img {
        width: 4rem;
    }

    td,
    th {
        border: 1px solid #2f3640;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
}