* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.wrap {
  z-index: -2;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#0175c2), to(#1abc9c));
  background-image: linear-gradient(to top, #0175c2 0%, #1abc9c 100%);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
}

.wave {
  position: absolute;
  width: 100%;
  height: 90%;
  bottom: 0;
  overflow: hidden;
}

header {
  z-index: 2;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 20px 50px;
}

header .menu {
  float: right;
  margin-bottom: 10px;
}

header .icon {
  float: left;
  width: 8vh;
}

header .logo {
  padding: 1.5vh 2vh;
  font-size: 28px;
  font-weight: 700;
  color: #ecf0f1;
  float: left;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

header ul li {
  display: inline-block;
}

header ul li button {
  margin-top: 5px;
  padding: 5px 30px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  border-style: solid;
  border-radius: 20px;
  background-color: transparent;
  color: #ecf0f1;
  border-color: #ecf0f1;
}

header ul li button:hover {
  background-color: #ecf0f1;
  color: #1abc9c;
  border-color: #ecf0f1;
}

header ul li button:focus {
  outline: none;
  background-color: transparent;
  color: #ecf0f1;
  border-color: #ecf0f1;
}

.content {
  height: 100%;
  z-index: 0;
  position: relative;
  max-width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ecf0f1;
}

.content h1 {
  padding: 220px 120px 0;
  font-size: 44px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: 900;
}

.content p {
  padding: 220px 120px 0;
  padding-top: 20px;
  padding-right: 100px;
  text-justify: newspaper;
  font-size: 20px;
  font-weight: 200;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.example {
  padding: 170px 120px 0;
  width: 70%;
  height: 100%;
}

.example img {
  margin-left: 10vh;
  width: 90%;
}

table {
  width: 100%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
  text-align: left;
}

.nav-list {
  background-color: #dfe6e9;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  list-style: none;
}

.nav-list img {
  position: relative;
  left: 0;
  height: 80%;
}

.nav-links {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.form input {
  background-color: #dfe6e9;
  border: none;
  border-bottom: 1px solid #2d3436;
}

.form input:focus {
  outline: none;
  border-bottom: 1px solid #74b9ff;
}

.form label {
  font-size: 16px;
  color: #2d3436;
}

.home-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-content img {
  margin-top: 60px;
  height: 90%;
}

.home-content h1 {
  color: #2d3436;
  font-size: 40px;
  margin: 30px 0px;
}

.home-content p {
  color: #2d3436;
  font-size: 20px;
}

.home {
  height: 90vh;
  position: absolute;
  width: 100%;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
/*# sourceMappingURL=style.css.map */