<header>
    <a href="/pacientes">
        <img class="icon" src="./Resources/logo.svg">
        <div class="logo">
            BeHealthy!
        </div>
    </a>
</header>

<body>
    <div class="circle6"></div>
    <div class="circle7"></div>
    <div class="wrap">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form" method="POST"
                    action="http://localhost/Pacientes/cadastro/cad">
                    <span class="login100-form-title p-b-26">
                        Bem-vindo!
                    </span>

                    <div class="wrap-input100 ">
                        <input class="input100" type="text" name="login">
                        <span class="focus-input100" data-placeholder="Login"></span>
                    </div>
                    <div class="wrap-input100" data-validate="Enter password">
                        <input class="input100" type="password" name="pass">
                        <span class="focus-input100" data-placeholder="Senha"></span>
                    </div>
                    <div class="wrap-input100" data-validate="Enter password">
                        <input class="input100" type="password" name="cod">
                        <span class="focus-input100" data-placeholder="Código"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">
                                Cadastrar
                            </button>
                        </div>
                        {% if error != '' %}
                        <span class="txterror">{{error['msg']}}</span>
                        {% endif %}
                    </div>

                    <div class="text-center">
                        <span class="txt1">
                            Já possui uma conta?
                        </span>

                        <a class="txt2" href="login">
                            Entre!
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="../vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="../JS/main.js"></script>
</body>

</html>