<body style="perspective: 10000px">
    <img class="abstract1" src="./Resources/abstract.svg">
    <img class="abstract2" src="./Resources/abstract2.svg">
    <main class="bg">

        <div class="glassbg">
            <img src="./Resources/404.svg">
            <h2>
                Eita! Parece que a página que você procura não está disponível!
            </h2>
            <a href="?page=home">
                <button>Voltar para o início</button>
            </a>
        </div>
    </main>
</body>