<body style="perspective: 10000px">
    <div class="wrap">
        <div class="wave">
            <img class="shape" src="./Resources/wave.svg">
        </div>
        <div class="circle3"></div>
        <div class="circle8"></div>
        <header>
            <a href="?page=home">
            <img class="icon" src="./Resources/logo.svg">
            <div class="logo">
                BeHealthy!
            </div>
        </a>
            <div class="menu">
                <ul>
                    <li>
                        <a href="?page=login"><button class="botao">Login</button></a>
                    </li>
                </ul>
            </div>
        </header>
        <div class="content">
            <div class="text">
                <h1>
                    Cadastre pacientes e agende consultas pela internet.
                </h1>
                <p>
                    A saúde de todos é importante. Monitore o estado de seus pacientes e tenha um melhor controle sobre
                    datas de atendimento.
                </p>
            </div>
            <div class="example" id="example">
                <div class="card1">
                    <span class="nomer">Pedro, 18</span>
                    <span class="gravidad">Grave</span>
                    <br>
                    <span class="sintom"><img src="./Resources/spot.svg">Dor no corpo</span>
                    <br>
                    <span class="sintom"><img src="./Resources/spot.svg">Dor de garganta</span>
                    <br>
                    <span class="sintom"><img src="./Resources/spot.svg">Febre</span>
                    <br>
                </div>
            </div>
        </div>

    </div>
</body>