<body>
    <main>
        {% if codigo != '' %}
        <div class="popup">
            <h3>O código de {{adname}} é:</h3>
            <h2>{{codigo}}</h2>
            <button onclick="okPop();">OK!</button>
        </div>
        {% endif %}
        <section class="glass">
            <div class="dashboard">
                <a href="dashboard/logout">
                    <div class="user">
                        <img src="./Resources/picture.svg">
                        <h3>{{name}}</h3>
                        <h4>{{function}}</h4>
                    </div>
                </a>
                <div class="options">
                    <a href="#" class="fill">
                        <div class="option" onclick="Option1();" id="btn1">
                            <img src="./Resources/addpaci.svg" />
                            <h2>Pacientes</h2>

                        </div>
                    </a>
                    <a href="#" class="fill">
                        <div class="option" onclick="Option2();" id="btn2">
                            <img src="./Resources/addfunc.svg" />
                            <h2>Funcionários</h2>
                        </div>
                    </a>
                    <a href="#" class="fill">
                        <div class="option" onclick="Option3();" id="btn3">
                            <img src="./Resources/consultas.svg" />
                            <h2>Consultas</h2>
                        </div>
                    </a>
                    <a href="#" class="fill">
                        <div class="option" onclick="Option4();" id="btn4">
                            <img src="./Resources/list.svg" />
                            <h2>Relatórios</h2>
                        </div>
                    </a>
                    

                </div>
            </div>
            <div class="info" id="op0">
                <h2>Selecione uma opção ao lado.</h2>
                <class class="retangle"></class>
            </div>
            </div>
            <div class="CadPac" id="op1">
                <div class="buttons">
                    <button onclick="cadP();" id="cad1">Cadastrar Paciente</button>
                    <button onclick="editP();" id="edit1">Editar Paciente</button>
                    <button onclick="viewP();" id="view1">Visualizar Pacientes</button>
                </div>
                <div class="formul" id="cadp1">
                    <form method="POST" action="http://localhost/Pacientes/dashboard/cadpac">
                        <div class="wrap-input50 nm">
                            <input class="input50" type="text" name="user">
                            <span class="focus-input50" data-placeholder="Nome"></span>
                        </div>
                        <div class="wrap-input50 sr">
                            <input class="input50" type="text" name="Sobrenome">
                            <span class="focus-input50" data-placeholder="Sobrenome"></span>
                        </div>
                        <div class="wrap-input50 cpf">
                            <input class="input50" type="text" name="cpf" maxlength="14"
                                onkeydown="javascript: fMasc( this, mCPF );">
                            <span class="focus-input50" data-placeholder="CPF"></span>
                        </div>
                        <div class="wrap-input50dta dt">
                            <input class="input50dta" type="date" name="dtnasc">
                            <span class="focus-input50dta" data-placeholder="Data de nascimento"></span>
                        </div>
                        <div class="wrap-input50 ru">
                            <input class="input50" type="text" name="rua">
                            <span class="focus-input50" data-placeholder="Rua"></span>
                        </div>
                        <div class="wrap-input50 br">
                            <input class="input50" type="text" name="bairro">
                            <span class="focus-input50" data-placeholder="Bairro"></span>
                        </div>
                        <div class="wrap-input50 nu">
                            <input class="input50" type="text" name="num">
                            <span class="focus-input50" data-placeholder="Numero"></span>
                        </div>
                        <div class="wrap-input50 cm">
                            <input class="input50" type="text" name="gen">
                            <span class="focus-input50" data-placeholder="Gênero"></span>
                        </div>
                        <div class="wrap-input50 ct">
                            <input class="input50" type="text" name="city">
                            <span class="focus-input50" data-placeholder="Cidade"></span>
                        </div>
                        <div class="wrap-input50 es">
                            <input class="input50" type="text" name="est">
                            <span class="focus-input50" data-placeholder="Estado"></span>
                        </div>
                        <div class="wrap-input50 gv">
                            <input class="input50" type="text" name="gravid">
                            <span class="focus-input50" data-placeholder="Gravidade"></span>
                        </div>
                        <div class="wrap-input50 ac">
                            <input class="input50" type="text" name="acom">
                            <span class="focus-input50" data-placeholder="Acompanhante"></span>
                        </div>
                        <div class="wrap-input50dta dti">
                            <input class="input50dta" type="date" name="dti">
                            <span class="focus-input50dta" data-placeholder="Data inicial dos sintomas"></span>
                        </div>
                        <div class="confirm">
                            <textarea id="sint" name="sintomas"
                                placeholder="Sintomas separados por ponto e vírgula"></textarea>
                            <div class="cading">
                                <button><img src="./Resources/send.svg" class="btn"></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="EditPac" id="editp1">

                    <form method="POST" action="http://localhost/Pacientes/dashboard/editpac">
                        <div class="wrap-input50 nm">
                            <input class="input50" type="text" name="nome">
                            <span class="focus-input50" data-placeholder="Nome ou CPF"></span>
                        </div>
                        <input name="place" type="hidden" value="2">
                        <div class="subbt">
                            <button type="submit">
                                <img src="./Resources/searchsec.svg" type="submit">
                            </button>
                        </div>
                    </form>
                    <div class="cards">
                        {% if lispac == false %}
                        <h2>não há pacientes para exibir</h2>
                        {% else %}
                        {% for pac in lispac %}
                        <div class=" card [ is-collapsed ] ">
                            <div class="card__inner [ js-expander ]">
                                <span class="nomer">
                                    {{pac.nome[0]}}, {{pac.idade}}
                                </span>
                                <span class="gravidad">
                                    {{pac.gravidade}}
                                </span>
                                <br>
                                {% if pac.sintomas|length > 3 %}
                                {% for i in range(0,2) %}
                                <span class="sintom"><img src="./Resources/spot.svg">
                                    {{pac.sintomas[i]}}
                                </span>
                                <br>
                                {% endfor %}
                                {% else %}
                                {% for sint in pac.sintomas %}
                                <span class="sintom"><img src="./Resources/spot.svg">
                                    {{sint}}
                                </span>
                                <br>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <div class="card__expander">
                                <form class="delete" action="http://localhost/Pacientes/dashboard/del" method="POST">
                                    <input type="hidden" name="cod" value="{{pac.cod}}">
                                    <button type="submit"><img src="./Resources/close.svg"></button>
                                </form>
                                <form class="update" action="http://localhost/Pacientes/dashboard/updpac" method="POST">
                                    <span>Nome:</span>
                                    <br>
                                    <input name="nome" type="text" value="{{pac.nome | join(' ')}}">
                                    <br>
                                    <input type="hidden" name="cod" value="{{pac.cod}}">
                                    <span>Cpf:</span>
                                    <br>
                                    <input name="cpf" type="text" value="{{pac.cpf}}">
                                    <br>
                                    <span>Data de nascimento:</span>
                                    <br>
                                    <input name="dt_nasc" type="text" value="{{pac.data_nasc}}">
                                    <br>
                                    <span>Genero:</span>
                                    <br>
                                    <input name="gen" type="text" value="{{pac.genero}}">
                                    <br>
                                    <span>Endereço:</span>
                                    <br>
                                    <input name="end" type="text" value="{{pac.endereco}}">
                                    <br>
                                    <span>Gravidade:</span>
                                    <br>
                                    <input name="est" type="text" value="{{pac.gravidade}}">
                                    <br>
                                    <span>Sintomas:</span>
                                    <br>
                                    <input name="sintomas" type="text" value="{{pac.sintomas | join(';')}}">
                                    <br>
                                    <span>Acompanhante:</span>
                                    <br>
                                    <input name="acom" type="text" value="{{pac.acompanhante}}">
                                    <br>
                                    <span>Data inicial dos sintomas:</span>
                                    <br>
                                    <input name="dt_inic" type="text" value="{{pac.data_sintomas}}">
                                    <br>
                                    <button type="submit"><img src="./Resources/update.svg"></button>
                                </form>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="ListPac" id="viewp1">
                    <div class="cards">
                        {% if pacs == false %}
                        <h2>não há pacientes cadastrados</h2>
                        {% else %}
                        {% for pac in pacs %}
                        <div class=" card [ is-collapsed ] ">
                            <div class="card__inner [ js-expander ]">
                                <span class="nomer">
                                    {{pac.nome[0]}}, {{pac.idade}}
                                </span>
                                <span class="gravidad">
                                    {{pac.gravidade}}
                                </span>
                                <br>
                                {% if pac.sintomas|length > 3 %}
                                {% for i in range(0,2) %}
                                <span class="sintom"><img src="./Resources/spot.svg">
                                    {{pac.sintomas[i]}}
                                </span>
                                <br>
                                {% endfor %}
                                {% else %}
                                {% for sint in pac.sintomas %}
                                <span class="sintom"><img src="./Resources/spot.svg">
                                    {{sint}}
                                </span>
                                <br>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <div class="card__expander">
                                <span class="noming">{{pac.nome | join(' ')}}</span>
                                <br>
                                <span class="dtnascing">{{pac.data_nasc}}</span>
                                <br>
                                <span class="state">Estado: {{pac.gravidade}}</span>
                                <br>
                                <span class="sintomas">Sintomas: {{pac.sintomas | join(', ')}}</span>
                                <br>
                                <span class="acompa">Acompanhante: {{pac.acompanhante}}</span>
                                <br>
                                <span class="dtinicio">Data inicial dos sintomas: {{pac.data_sintomas}}</span>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
    
                </div>
            </div>
            <div class="Func" id="op2">
                <div class="buttons">
                    <button onclick="cadF();" id="cad2">Cadastrar Funcionário</button>
                    <button onclick="editF();" id="edit2">Editar Funcionário</button>
                </div>
                <div class="formul" id="cadF2">
                    <form method="POST" action="http://localhost/Pacientes/dashboard/cadfuncdadoscompletos">
                        <div class="wrap-input50 nm">
                            <input class="input50" type="text" name="user">
                            <span class="focus-input50" data-placeholder="Nome"></span>
                        </div>
                        <div class="wrap-input50 sr">
                            <input class="input50" type="text" name="Sobrenome">
                            <span class="focus-input50" data-placeholder="Sobrenome"></span>
                        </div>
                        <div class="wrap-input50 cpf">
                            <input class="input50" type="text" name="cpf" maxlength="14"
                                onkeydown="javascript: fMasc( this, mCPF );">
                            <span class="focus-input50" data-placeholder="CPF"></span>
                        </div>
                        <div class="wrap-input50dta dt">
                            <input class="input50dta" type="date" name="dtnasc">
                            <span class="focus-input50dta" data-placeholder="Data de nascimento"></span>
                        </div>
                        <div class="wrap-input50 ru">
                            <input class="input50" type="text" name="rua">
                            <span class="focus-input50" data-placeholder="Rua"></span>
                        </div>
                        <div class="wrap-input50 br">
                            <input class="input50" type="text" name="bairro">
                            <span class="focus-input50" data-placeholder="Bairro"></span>
                        </div>
                        <div class="wrap-input50 nu">
                            <input class="input50" type="text" name="num">
                            <span class="focus-input50" data-placeholder="Numero"></span>
                        </div>
                        <div class="wrap-input50 cm">
                            <input class="input50" type="text" name="comp">
                            <span class="focus-input50" data-placeholder="Complemento"></span>
                        </div>
                        <div class="wrap-input50 ct">
                            <input class="input50" type="text" name="city">
                            <span class="focus-input50" data-placeholder="Cidade"></span>
                        </div>
                        <div class="wrap-input50 es">
                            <input class="input50" type="text" name="est">
                            <span class="focus-input50" data-placeholder="Estado"></span>
                        </div>
                        <div class="wrap-input50 gv">
                            <input class="input50" type="text" name="func">
                            <span class="focus-input50" data-placeholder="Função"></span>
                        </div>
                        <div class="cadFb">
                            <button type="submit">Cadastrar</button>
                        </div>
                    </form>
                </div>
                <div class="EditFunc" id="editF2">
                    <form method="POST" action="http://localhost/Pacientes/dashboard/editfunc">
                        <div class="wrap-input50 nm">
                            <input class="input50" type="text" name="nome">
                            <span class="focus-input50" data-placeholder="Nome ou CPF"></span>
                        </div>
                        <input name="place" type="hidden" value="4">
                        <div class="subbt">
                            <button type="submit">
                                <img src="./Resources/searchsec.svg" type="submit">
                            </button>
                        </div>
                    </form>
                    <div class="cards">
                        {% if lisfunc == false %}
                        <h2>não há funcionarios para exibir</h2>
                        {% else %}
                        {% for func in lisfunc %}
                        <div class=" card [ is-collapsed ] ">
                            <div class="card__inner [ js-expander ]">
                                <span class="nomer">
                                    {{func.nome[0]}}, {{func.idade}}
                                </span>
                                <span class="gravidad">
                                    {{func.funcao}}
                                </span>
                                <br>
                                <span class="sintom"><img src="./Resources/spot.svg">
                                    {{func.login}}
                                </span>
                                <br>
                            </div>
                            <div class="card__expander">
                                <form class="delete" action="http://localhost/Pacientes/dashboard/delfunc"
                                    method="POST">
                                    <input type="hidden" name="cod" value="{{func.cod}}">
                                    <button type="submit"><img src="./Resources/close.svg"></button>
                                </form>
                                <form class="update" action="http://localhost/Pacientes/dashboard/updfunc"
                                    method="POST">
                                    <span>Nome:</span>
                                    <br>
                                    <input name="nome" type="text" value="{{func.nome | join(' ')}}">
                                    <br>
                                    <input type="hidden" name="cod" value="{{func.cod}}">
                                    <span>Cpf:</span>
                                    <br>
                                    <input name="cpf" type="text" value="{{func.cpf}}">
                                    <br>
                                    <span>Data de nascimento:</span>
                                    <br>
                                    <input name="dt_nasc" type="text" value="{{func.dtnasc}}">
                                    <br>
                                    <span>Endereço:</span>
                                    <br>
                                    <input name="end" type="text" value="{{func.endereco}}">
                                    <br>
                                    <span>login:</span>
                                    <br>
                                    <input name="login" type="text" value="{{func.login}}">
                                    <br>
                                    <span>senha:</span>
                                    <br>
                                    <input name="pass" type="password" value="{{func.senha}}">
                                    <br>
                                    <span>funcao:</span>
                                    <br>
                                    <input name="func" type="text" value="{{func.funcao}}">
                                    <br>
                                    <button type="submit"><img src="./Resources/update.svg"></button>
                                </form>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            </form>
            </div>
            </div>

            <div class="Cons" id="op3">
                <div class="buttons">
                    <button onclick="marc();" id="marc1">Marcar Consulta</button>
                    <button onclick="real();" id="real1">Ver Consultas</button>
                </div>
                <div class="marcar" id="marc">
                    <form method="POST" action="http://localhost/Pacientes/dashboard/addConsulta">
                        <div class="wrap-input50 nm">
                            <input class="input50" type="text" name="pac">
                            <span class="focus-input50" data-placeholder="Nome do Paciente"></span>
                        </div>
                        <div class="wrap-input50 sr">
                            <input class="input50" type="text" name="med">
                            <span class="focus-input50" data-placeholder="Nome do Médico"></span>
                        </div>
                        <div class="wrap-input50dta cpf">
                            <input class="input50dta" type="date" name="dat">
                            <span class="focus-input50dta" data-placeholder="Data da consulta"></span>
                        </div>
                        <div class="wrap-input50dta dt">
                            <input class="input50dta" type="time" name="hr">
                            <span class="focus-input50dta" data-placeholder="Hora da consulta"></span>
                        </div>
                    </form>
                </div>
                <div class="view" id="vis">
                    <!--faz a tabelinha ai na humilda-->
                    <!--mostrando TODAS as consultas tlgd-->
                    <table border="1"> 
                        <tr>
                            <td>ID</td>
                            <td>Paciente</td>
                            <td>Medico</td>
                            <td>IDPaciente</td>
                            <td>IDMedico</td>
                            <td>Data</td>
                            <td>Horario de Chegada</td>
                        </tr>
                        {% for consulta in cons %}
                        <tr>
                            <td>{{consulta.id_consulta  }}</td>  
                            <td>{{consulta.nomePaciente}}</td>  
                            <td>{{consulta.nomeMedico}}</td>
                            <td>{{consulta.codPac_FK }}</td>
                            <td>{{consulta.codAdmin_FK }}</td>  
                            <td>{{consulta.data }}</td>
                            
                            <td>{{consulta.horarioChegada  }}</td>                   
                        </tr>
                        
                        {% endfor %}
                    </table>
                </div>
                <div class="realize" id="rea">
                    <!--faz a tabelinha ai na humilda-->
                    <!--mostrando só as do dia por ordem de chegada-->
                    <!--e tu pode selecionar uma e realizar-->
                </div>

            </div>
            <div class="relat" id="op4">
            </div>
        </section>

    </main>
    <div class="circle1"></div>
    <div class="circle2"></div>

</body>
<script src="./JS/menu.js"></script>
{% if location == 2 %}
<script>Option1();</script>
<script>editP();</script>
{% endif %}
{% if location == 4 %}
<script>Option2();</script>
<script>editF();</script>
{% endif %}